JENKINS_ADMIN_USER=maxphan
JENKINS_ADMIN_PASSWORD=Khuongnhi@#09122018
REGISTRY_URL=localhost:5000
IMAGE_NAME=sample-app
TAG=local
KIND_CLUSTER_NAME=local-max
UI_BIND=127.0.0.1
UI_PORT=5001
UI_TOKEN=
DOCKER_GID=999
